.container {
    width: fit-content;
    height: 60px;
    border-bottom: 1px solid silver;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.container div {
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.image {
    width: 25px;
    margin: 0%;
}

.rank {
    width: 20px;
    margin: auto 10px;
}

.name {
    width: 200px;
    margin-left: 5px;
    
}

.symbol {
    width: 100px;
    margin-right: 40px;
}

.price {
    width: 100px;
    margin-right: 60px;
    color: #1675d6;
}

.priceChange_zero,
.priceChange_positive,
.priceChange_negetive {
    width: 100px;
    margin-right: 40px;
}

.priceChange_zero {
    color: black;
}
.priceChange_positive {
    color: rgb(0, 170, 0);
}
.priceChange_negetive {
    color: rgb(255, 0, 0);
}
.marketCap {
    width: 130px;
    margin: 0 10px;
}

@media screen and (max-width : 350px) {
    .priceChange_zero,
    .priceChange_positive,
    .priceChange_negetive  {
        display: none;
    }
    .rank {
        width: 30px !important;
        margin: 0;
        margin-left: 2px;
    }
    .name {
        width: 130px !important;
        margin: 0;
    }
    .symbol {
        width: 100px !important;
        margin: 0;
    }
    .price {
        margin: 0;
    }
    
    
}

@media screen and (max-width : 600px) {
    .priceChange_zero,
    .priceChange_positive,
    .priceChange_negetive  {
        margin: 0;
    }
    .marketCap {
        display: none;
    }
    .container {
        width: 100% !important;
    }
    .image {
        width: 15px;
        margin: 0;
    }
}

@media screen and (max-width : 600px) and (min-width : 350px) {
    .rank {
        width: 5% !important;
        margin: 0 2px 0 2px;
    }
    .name {
        margin: 0;
    }
    .imgName {
        width: 35%;
    }
    .symbol {
        width: 20% !important;
        margin: 0;
    }
    .price {
        width: 25%;
        margin: 0;
    }
    
}