
@media screen and (max-width : 600px) {
    .container {
        width: 90% !important;
    }
    
}
@media screen and (max-width : 950px) and (min-width : 600px) {
    .container {
        width: 60%;
    }
}

@media  screen and (min-width : 950px) {
    .container {
        width: 35%;
    }
}